#play-field {
    margin: 100px;
}


#chessboard {
    width: 72vw;
    height: 64vw;
    margin: 0px;
}

.chess-row,
#column-names {
    width: 72vw;
    height: 8vw;
    margin: 0px;
}

#column-names>span,
.row-name {
    width: 8vw;
    height: 8vw;
    line-height: 10vw;
    font-size: 64px;
    float: left;
    text-align: center;
    border: solid;
    border-color: black;
    border-width: 0px 1px 0px 0px;
}

.row-name {
    border-width: 0px 1px 1px 0px;
}

.square{
    width: 8vw;
    height: 8vw;
    border: solid;
    border-color: black;
    border-width: 0px 1px 1px 0px;
    display: inline;
    float: left;
}

#chess-row-8 {
    border: solid;
    border-color: black;
    border-width: 1px 0px 0px 0px;    
}

.chess-row.odd>.chess-column.odd,
.chess-row.even>.chess-column.even {
    background-color: grey;
}