#play-field {
    margin: 100px;
}


#chessboard {
    width: 54vw;
    height: 48vw;
    margin: 0px;
}

.chess-row,
#column-names {
    width: 54vw;
    height: 6vw;
    margin: 0px;
}

#column-names>span,
.row-name {
    width: 6vw;
    height: 6vw;
    line-height: 8vw;
    font-size: 18px;
    float: left;
    text-align: center;
    border: solid;
    border-color: black;
    border-width: 0px 1px 0px 0px;
}

.row-name {
    border-width: 0px 1px 1px 0px;
}

.square{
    width: 6vw;
    height: 6vw;
    border: solid;
    border-color: black;
    border-width: 0px 1px 1px 0px;
    display: inline;
    float: left;
}

#chess-row-8 {
    border: solid;
    border-color: black;
    border-width: 1px 0px 0px 0px;    
}

.chess-row.odd>.chess-column.odd,
.chess-row.even>.chess-column.even {
    background-color: rgb(150,150,150);
}

.chess-row.odd>#selected.chess-column.odd,
.chess-row.even>#selected.chess-column.even {
    background-color: rgb(50,120,90);
}

.chess-row.even>.chess-column.odd,
.chess-row.odd>.chess-column.even {
    background-color: rgb(255,255,255);
}

.chess-row.even>#selected.chess-column.odd,
.chess-row.odd>#selected.chess-column.even {
    background-color: rgb(150,200,150);
}